*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
  max-width: 2480px;
  font-family: 'Montserrat', sans-serif;
  
}
.font-f{
  font-family: 'Rubik Microbe', cursive;
}
.font-f2{
  font-family: 'Rubik Marker Hatch', cursive;
}
.hw{
  height: 400px;
  width: 400px;
}

.f1{
  font-size: 10px;
}

.f2{
  font-size: 20px;
}
.f3{
  font-size: 30px;
}
.f4{
  font-size: 50px;
}
.f5{
  font-size: 60px;
}
.f6{
  font-size: 70px;
}
.f7{
  font-size: 80px;
}
.f8{
  font-size: 90px;
}
.fh{
  font-size: 130px;
  font-weight: bold;
}

.tc{
  text-align: center;
}
.in-bl{
  display: inline;
}