@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
  max-width: 2480px;
  font-family: 'Montserrat', sans-serif;
  
}
.font-f{
  font-family: 'Rubik Microbe', cursive;
}
.font-f2{
  font-family: 'Rubik Marker Hatch', cursive;
}

.gg{
    @apply bg-black

}