/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.heading {
  animation: wel 1.5s ease-in-out 2s alternate infinite;
}

@keyframes wel {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.emoji {
  position: relative;
  animation-name: my-icon;
  animation-duration: 0.5s;
  /* animation-iteration-count: infinite; */
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  display: block;
}
@keyframes my-icon {
  0% {
    opacity: 1;
    top: 0%;
  }
  10% {
    opacity: 0.9;
    top: 0%;
  }
  20% {
    opacity: 0.8;
    top: 0%;
  }
  30% {
    opacity: 0.7;
    top: 0%;
  }
  40% {
    opacity: 0.6;
    top: 4%;
  }
  50% {
    opacity: 0.5;
    top: 0%;
  }
  60% {
    opacity: 0.4;
    top: 20%;
  }
  70% {
    opacity: 0.3;
    top: 40%;
  }
  80% {
    opacity: 0.2;
    top: 60%;
  }
  90% {
    opacity: 0.1;
    top: 80%;
  }
  100% {
    opacity: 0;
    top: 100%;
    display: none;
  }
}

.pp {
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: red;
  }
}

.t {
  font-family: arial black;
  font-size: 70px;
  background-color: transparent;
  background-image: linear-gradient(
    to right,
    #40916c,
    #a7c957,
    #386641,
    #6a994e,
    #40916c
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 30ms linear infinite;
}

@keyframes rainbow-animation {
  to {
    background-position: 40vh;
  }
}
.content {
  animation: my-content 0.5s ease-in-out;
  animation-delay: 2s;
  background-color: #40916c;
}
@keyframes my-content {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* text anim */

.Iam {
  padding: 2em 5em;
  font: normal 40px/50px Montserrat, sans-serif;
  color: #999;
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}
.Iam .innerIam {
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;


/*animation*/
-webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}


.p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


.bg {
  animation-name: my-bg;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  /* background-color: #480ca8; */
  background-color: #808080;
  /* background-color: #1a1a1a; */
}

@keyframes my-bg {
  0% {
    /* transform: scale(0.3); */
    background-color: #808080;
  }
  5% {
    background-color: #e5e5e5;
  }
  10% {
    background-color: #fcf6bd;
  }
  15% {
    background-color: #edede9;
  }
  20% {
    background-color: #fb5607;
  }
  25% {
    background-color: #8338ec;
  }
  30% {
    background-color: #3a86ff;
  }
  35% {
    background-color: #ffbe0b;
  }
  40% {
    background-color: #8ac926;
  }
  45% {
    background-color: #f72585;
  }
  50% {
    background-color: #fcbf49;
  }
  55% {
    background-color: #000814;
  }
  60% {
    background-color: #bbd0ff;
  }
  65% {
    background-color: #003566;
  }
  70% {
    background-color: #99d98c;
  }
  75% {
    background-color: #d9ed92;
  }
  80% {
    background-color: #415a77;
  }

  85% {
    background-color: #eb5e28;
  }
  90% {
    background-color: #9d4edd;
  }

  95% {
    background-color: #e56b6f;
  }
  100% {
    background: #d0f4de;
    /* background: rgb(252, 246, 189); */

  }
}