@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
    @apply bg-slate-200 max-w-7xl min-h-full min-w-full mx-auto relative;
}
.scrollbar::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

.scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 1px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4a1010;
}